@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?95befda68bc00ff493a467b5be2aef95") format("truetype"),
url("./flaticon.woff?95befda68bc00ff493a467b5be2aef95") format("woff"),
url("./flaticon.woff2?95befda68bc00ff493a467b5be2aef95") format("woff2"),
url("./flaticon.eot?95befda68bc00ff493a467b5be2aef95#iefix") format("embedded-opentype"),
url("./flaticon.svg?95befda68bc00ff493a467b5be2aef95#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-24-hours:before {
    content: "\f101";
    font-size: 50px;
}
.flaticon-bathroom-scale:before {
    content: "\f102";
    font-size: 50px;
}
.flaticon-bmi:before {
    content: "\f103";
    font-size: 50px;
}
.flaticon-burn:before {
    content: "\f104";
    font-size: 50px;
}
.flaticon-coach:before {
    content: "\f105";
    font-size: 50px;
}
.flaticon-diet:before {
    content: "\f106";
    font-size: 50px;
}
.flaticon-meditation:before {
    content: "\f107";
    font-size: 50px;
}
.flaticon-weightlifter:before {
    content: "\f108";
    font-size: 50px;
}
